* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.test {
    border: 1px solid blue;
    height: 10vh;
    width: 10vh;
}