* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#grid-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    background-color: rgb(79, 180, 180);
    height: 560px;
    width: 560px;
}

.squares {
    border: 1px solid blue;
}