body {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(79, 180, 180);
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 720px;
    width: 720px;
    border: 2px solid rgb(5, 51, 57);
}

.squares {
    background-color: azure;
}

.squares-color {
    background-color: black;
}

button{

}